In [7]:
house_0_list = [115910.26, 128, 4]

In [8]:
# Task 1.1.1 One metric that people in the real estate industry look at is price per square meter 
# because it allows them to compare houses of different sizes. 
# Can you use the information in this list to calculate the price per square meter for house_0?
house_0_m2 = house_0_list[0] / house_0_list[1]
house_0_m2

905.54890625

In [9]:
# Task 1.1.2 Next, use the append method to add the price per square meter to the end of the end of house_0.
house_0_list.append(house_0_m2)
house_0_list

[115910.26, 128, 4, 905.54890625]

In [25]:
houses_nested_list = [
    [115910.26, 128.0, 4.0],
    [48718.17, 210.0, 3.0],
    [28977.56, 58.0, 2.0],
    [36932.27, 79.0, 3.0],
    [83903.51, 111.0, 3.0],
]
# Task 1.1.3 Append the price per square meter to each observation in houses_nested_list using a for loop
for i in range(0,len(houses_nested_list)):
    houses_nested_list[i].append(houses_nested_list[i][0]/ houses_nested_list[i][1])

houses_nested_list

[[115910.26, 128.0, 4.0, 905.54890625],
 [48718.17, 210.0, 3.0, 231.9912857142857],
 [28977.56, 58.0, 2.0, 499.61310344827587],
 [36932.27, 79.0, 3.0, 467.4970886075949],
 [83903.51, 111.0, 3.0, 755.8874774774774]]

In [1]:
# Task 1.1.4: Calculate the price per square meter for house_0 and add it to the dictionary under the key "price_per_m2"
house_0_dict = {
    "price_aprox_usd": 115910.26,
    "surface_covered_in_m2": 128,
    "rooms": 4,
}
price = house_0_dict["price_aprox_usd"]
surface = house_0_dict["surface_covered_in_m2"]
house_0_dict["price_per_m2"] = price/surface
house_0_dict

{'price_aprox_usd': 115910.26,
 'surface_covered_in_m2': 128,
 'rooms': 4,
 'price_per_m2': 905.54890625}

In [5]:
# Task 1.1.5: Using a for loop , calculate the price per square meter 
# and store the result under a "price_per_m2" key for each observation in houses_rowwise.

houses_rowwise = [
    {
        "price_aprox_usd": 115910.26,
        "surface_covered_in_m2": 128,
        "rooms": 4,
    },
    {
        "price_aprox_usd": 48718.17,
        "surface_covered_in_m2": 210,
        "rooms": 3,
    },
    {
        "price_aprox_usd": 28977.56,
        "surface_covered_in_m2": 58,
        "rooms": 2,
    },
    {
        "price_aprox_usd": 36932.27,
        "surface_covered_in_m2": 79,
        "rooms": 3,
    },
    {
        "price_aprox_usd": 83903.51,
        "surface_covered_in_m2": 111,
        "rooms": 3,
    },
]

for i in range(0,len(houses_rowwise)): 
    houses_rowwise[i]["price_per_m2"]= houses_rowwise[i]["price_aprox_usd"]/houses_rowwise[i]["surface_covered_in_m2"] 

houses_rowwise

[{'price_aprox_usd': 115910.26,
  'surface_covered_in_m2': 128,
  'rooms': 4,
  'price_per_m2': 905.54890625},
 {'price_aprox_usd': 48718.17,
  'surface_covered_in_m2': 210,
  'rooms': 3,
  'price_per_m2': 231.9912857142857},
 {'price_aprox_usd': 28977.56,
  'surface_covered_in_m2': 58,
  'rooms': 2,
  'price_per_m2': 499.61310344827587},
 {'price_aprox_usd': 36932.27,
  'surface_covered_in_m2': 79,
  'rooms': 3,
  'price_per_m2': 467.4970886075949},
 {'price_aprox_usd': 83903.51,
  'surface_covered_in_m2': 111,
  'rooms': 3,
  'price_per_m2': 755.8874774774774}]

In [13]:
# Task 1.1.6: To calculate the mean price for houses_rowwise by completing the code below.

house_prices = []
for house in houses_rowwise:
    house_prices.append(house["price_aprox_usd"])

mean_house_price = sum(house_prices) / len(house_prices)
mean_house_price

62888.35399999999

In [8]:
# Task 1.1.7: Calculate the mean house price in houses_columnwise

houses_columnwise = {
    "price_aprox_usd": [115910.26, 48718.17, 28977.56, 36932.27, 83903.51],
    "surface_covered_in_m2": [128.0, 210.0, 58.0, 79.0, 111.0],
    "rooms": [4.0, 3.0, 2.0, 3.0, 3.0],
}

mean_house_price = sum(houses_columnwise["price_aprox_usd"])/len(houses_columnwise["price_aprox_usd"])
mean_house_price

62888.35399999999

In [15]:
# Task 1.1.8: Create a `"price_per_m2"` column in `houses_columnwise`

res = [i / j for i, j in zip(houses_columnwise["price_aprox_usd"],houses_columnwise["surface_covered_in_m2"])]

houses_columnwise["price_per_m2"] = res

houses_columnwise

{'price_aprox_usd': [115910.26, 48718.17, 28977.56, 36932.27, 83903.51],
 'surface_covered_in_m2': [128.0, 210.0, 58.0, 79.0, 111.0],
 'rooms': [4.0, 3.0, 2.0, 3.0, 3.0],
 'price_per_m2': [905.54890625,
  231.9912857142857,
  499.61310344827587,
  467.4970886075949,
  755.8874774774774]}

In [1]:
import pandas as pd

data = {
    "price_aprox_usd": [115910.26, 48718.17, 28977.56, 36932.27, 83903.51],
    "surface_covered_in_m2": [128.0, 210.0, 58.0, 79.0, 111.0],
    "rooms": [4.0, 3.0, 2.0, 3.0, 3.0],
}

df_houses = pd.DataFrame(data)

df_houses

   price_aprox_usd  surface_covered_in_m2  rooms
0        115910.26                  128.0    4.0
1         48718.17                  210.0    3.0
2         28977.56                   58.0    2.0
3         36932.27                   79.0    3.0
4         83903.51                  111.0    3.0