In [ ]:
# Task 1.2.1: Read these three files into three separate DataFrames named df1, df2, and df3, respectively.

import pandas as pd

df1 = pd.read_csv('data/mexico-real-estate-1.csv')
df2 = pd.read_csv('data/mexico-real-estate-2.csv')
df3 = pd.read_csv('data/mexico-real-estate-3.csv')

In [ ]:
# Task 1.2.2: Inspect df1 by looking at its shape attribute. 
# Then use the info method to see the data types and number of missing values for each column. Finally, use the head method to determine to look at the first five rows of your dataset.

df1.shape
#(700,6)
df1.info()

df1.head()

In [ ]:
# Task 1.2.3: Clean df1 by dropping rows with NaN values. Then remove the "$" and "," characters from "price_usd" and recast the values in the column as floats.

df1.dropna(inplace=True)
df1["price_usd"] = df1["price_usd"].str.replace("$","",regex=True)
df1["price_usd"] = df1["price_usd"].str.replace(",","",regex=True)
df1["price_usd"] = df1.price_usd.astype(float)

df1.head()
#df1.info()

In [1]:
# Task 1.2.4: First, drop rows with NaN values in df2. 
# Next, use the "price_mxn" column to create a new column named "price_usd". 
# (Keep in mind that, when this data was collected in 2014, a dollar cost 19 pesos.) Finally, drop the "price_mxn" from the DataFrame.

df2.dropna(inplace=True)
df2["price_usd"] = df2["price_mxn"]/19

df2 = df2.drop("price_mxn",axis="columns")
df2.head()

NameError: name 'df2' is not defined