In [ ]:
# Task 1.2.1: Read these three files into three separate DataFrames named df1, df2, and df3, respectively.

import pandas as pd

df1 = pd.read_csv('data/mexico-real-estate-1.csv')
df2 = pd.read_csv('data/mexico-real-estate-2.csv')
df3 = pd.read_csv('data/mexico-real-estate-3.csv')

In [ ]:
# Task 1.2.2: Inspect df1 by looking at its shape attribute. 
# Then use the info method to see the data types and number of missing values for each column. Finally, use the head method to determine to look at the first five rows of your dataset.

df1.shape
#(700,6)
df1.info()

df1.head()

In [ ]:
# Task 1.2.3: Clean df1 by dropping rows with NaN values. Then remove the "$" and "," characters from "price_usd" and recast the values in the column as floats.

df1.dropna(inplace=True)
df1["price_usd"] = df1["price_usd"].str.replace("$","",regex=True)
df1["price_usd"] = df1["price_usd"].str.replace(",","",regex=True)
df1["price_usd"] = df1.price_usd.astype(float)

df1.head()
#df1.info()

In [ ]:
# Task 1.2.4: First, drop rows with NaN values in df2. 
# Next, use the "price_mxn" column to create a new column named "price_usd". 
# (Keep in mind that, when this data was collected in 2014, a dollar cost 19 pesos.) Finally, drop the "price_mxn" from the DataFrame.

df2.dropna(inplace=True)
df2["price_usd"] = df2["price_mxn"]/19
df2 = df2.drop("price_mxn",axis="columns")
df2.head()

In [ ]:
# Task 1.2.5: Drop rows with NaN values in df3. 
# Then use the split method to create two new columns from "lat-lon" named "lat" and "lon", respectively.

df3.dropna(inplace=True)
df3[["lat", "lon"]] = df3["lat-lon"].str.split(",", expand=True)
df3.head()

In [ ]:
# Task 1.2.6: Use the split method again, this time to extract the state for every house. 
# (Note that the state name always appears after "MÃ©xico|" in each string.) Use this information to create a "state" column. 
# Finally, drop the "place_with_parent_names" and "lat-lon" columns from the DataFrame. 

df3['state'] = df3["place_with_parent_names"].str.split("|", expand=True)[2]
df3 = df3.drop("place_with_parent_names", axis="columns")
df3 = df3.drop("lat-lon", axis="columns")
#df3.head()

In [ ]:
# Task 1.2.7: Use pd.concat to concatenate df1, df2, df3 as new DataFrame named df. 
# Your new DataFrame should have 1,736 rows and 6 columns:"property_type", "state", "lat", "lon", "area_m2", "price_usd", and "price_per_m2"

df = pd.concat([df1,df2,df3])
print(df.shape)
df.head()

In [ ]:
# Task 1.2.8: Save df as a CSV file using the to_csv method. 
# The file path should be "./data/mexico-real-estate-clean.csv". Be sure to set the index argument to False.

df.to_csv("./data/mexico-real-estate-clean.csv")