In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

In [2]:
df1 = pd.read_csv('data.csv')

In [3]:
df1.dropna(inplace=True)
df1.head()
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 151935 entries, 0 to 151934
Data columns (total 18 columns):
 #   Column                                                 Non-Null Count   Dtype
---  ------                                                 --------------   -----
 0   StoreID                                                151935 non-null  object
 1   CounterID                                              151935 non-null  object
 2   Date                                                   151935 non-null  object
 3   Time                                                   151935 non-null  object
 4   InvoiceID                                              151935 non-null  object
 5   'vGS25_Topos_OLTP_Transaction_Summary'[TypeofInvoice]  151935 non-null  object
 6   ItemName                                               151935 non-null  object
 7   Barcode                                                151935 non-null  int64
 8   Sum of Qty                                             151935 non-null  int64
 9   UnitPrice                                              151935 non-null  object
 10  Item Discount %                                        151935 non-null  float64
 11  Item Discount                                          151935 non-null  object
 12  Bill Discount %                                        151935 non-null  float64
 13  Bill Discount                                          151935 non-null  object
 14  Total Exclude VAT                                      151935 non-null  object
 15  VAT%                                                   151935 non-null  int64
 16  VAT Amount                                             151935 non-null  object
 17  Total Include VAT                                      151935 non-null  object
dtypes: float64(2), int64(3), object(13)
memory usage: 20.9+ MB

In [4]:
df = df1[['InvoiceID','Barcode']]
print(df.info())
leng = len(np.unique(df['Barcode']))
leng

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 151935 entries, 0 to 151934
Data columns (total 2 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   InvoiceID  151935 non-null  object
 1   Barcode    151935 non-null  int64
dtypes: int64(1), object(1)
memory usage: 2.3+ MB
None

3331

In [6]:

pivot_table = df.pivot_table(columns='Barcode',index='InvoiceID', aggfunc=lambda x: 1, fill_value=0)
# drop duplicate columns
pivot_table = pivot_table.loc[:, ~pivot_table.columns.duplicated()]
#pivot_table.head(10)

pivot_table.dropna(inplace=True)

In [20]:
#number_of_chunks = 10 # specify how many output files you want
#for idx, chunk in enumerate(np.array_split(pivot_table, number_of_chunks)): # loop over the chunks
#  chunk.to_csv(f"output_file_{idx}.csv") # save each chunk as a csv file

#pivot_table.to_csv('output.csv')

# Create a correlation matrix
#correlation_matrix = pivot_table.corr()
 
# Visualize the correlation matrix as a heatmap
#correlation_matrix.head()

value1 = 7461466
value2 = 50854011
print(f"Correlation between {value1} and {value2} is ","{:.5f}".format(pivot_table[value1].corr(pivot_table[value2])))

Correlation between 7461466 and 50854011 is  -0.00009