In [1]:
import pandas as pd

In [2]:
df1 = pd.read_csv('data.csv')

In [7]:
df1.dropna(inplace=True)
df1.head()
#df1.info()

,StoreID,CounterID,Date,Time,InvoiceID,'vGS25_Topos_OLTP_Transaction_Summary'[TypeofInvoice],ItemName,Barcode,Sum of Qty,UnitPrice,Item Discount %,Item Discount,Bill Discount %,Bill Discount,Total Exclude VAT,VAT%,VAT Amount,Total Include VAT
0,VN0001,VN000101,01/02/2023,06:36,VN0001010102230001,Completed Transaction,GREEN TIME Trà hương bưởi 580ml x chai,4710085206346,1,"21,000",0.0,0.00,0.0,0.00,"19,091",10,"1,909","21,000"
1,VN0001,VN000101,01/02/2023,06:44,VN0001010102230002,Completed Transaction,Cơm nắm cá ngừ bắp mayo,2010902000198,1,"16,000",0.0,0.00,0.0,0.00,"14,545",10,"1,455","16,000"
2,VN0001,VN000101,01/02/2023,06:44,VN0001010102230002,Completed Transaction,DASANI Nước tinh khiết 510ml x 1 Chai,8935049510864,1,"7,000",0.0,0.00,0.0,0.00,"6,364",10,636,"7,000"
3,VN0001,VN000101,01/02/2023,06:44,VN0001010102230002,Completed Transaction,HSV Bánh mì que bơ chà bông x 1 cái,2602010136625,1,"16,000",0.0,0.00,0.0,0.00,"14,545",10,"1,455","16,000"
4,VN0001,VN000101,01/02/2023,06:48,VN0001010102230003,Completed Transaction,#Xúc xích gà nướng sả x 1 cây,2010809000253,1,"10,000",0.0,0.00,0.0,0.00,"9,091",10,909,"10,000"

In [13]:
df = df1[['InvoiceID','ItemName','Barcode']]
print(df.info())
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 151935 entries, 0 to 151934
Data columns (total 3 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   InvoiceID  151935 non-null  object
 1   ItemName   151935 non-null  object
 2   Barcode    151935 non-null  int64
dtypes: int64(1), object(2)
memory usage: 3.5+ MB
None

            InvoiceID                                ItemName        Barcode
0  VN0001010102230001  GREEN TIME Trà hương bưởi 580ml x chai  4710085206346
1  VN0001010102230002                 Cơm nắm cá ngừ bắp mayo  2010902000198
2  VN0001010102230002   DASANI Nước tinh khiết 510ml x 1 Chai  8935049510864
3  VN0001010102230002     HSV Bánh mì que bơ chà bông x 1 cái  2602010136625
4  VN0001010102230003           #Xúc xích gà nướng sả x 1 cây  2010809000253